/* 비디오 플레이어를 화면의 중간에 배치 */
.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 높이를 100% 사용 */
  background-color: black; /* 배경색 설정 */
}

/* 컨트롤 바 스타일링 */
.vjs-control-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7); /* 컨트롤 바 배경색 */
}

/* 상단 컨트롤 바 스타일링 */
.vjs-top-control-bar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7); /* 컨트롤 바 배경색 */
  padding: 5px;
  z-index: 10;
}

/* 하단 컨트롤 바 스타일링 */
.vjs-bottom-control-bar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7); /* 컨트롤 바 배경색 */
  padding: 5px;
}