@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .header {
    position: relative;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 70%,
      rgba(0, 0, 0, 0)
    );
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .header-background::before {
    opacity: 1;
  }

  .header-background-out::before {
    opacity: 0;
  }

  .truncated-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 표시할 최대 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
